<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} \t %-5p\t [%c{1}] \t%m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/app.log"/>
        <param name="maxFileSize" value="5000KB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t %d{DATE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>


    <appender name="execution" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/execution.log"/>
        <param name="maxFileSize" value="5000KB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t %d{DATE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>


    <appender name="async_file" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <logger name="org" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
    </logger>

    <logger name="com" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
    </logger>

    <logger name="net" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
    </logger>

    <logger name="flow.execution" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
        <appender-ref ref="execution"/>
    </logger>

    <logger name="decision.execution" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
        <appender-ref ref="execution"/>
    </logger>

    <logger name="decision.execution.row" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
        <appender-ref ref="execution"/>
    </logger>

    <logger name="decision.facttype.init" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
        <appender-ref ref="execution"/>
    </logger>

    <logger name="decision.facttype.model" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
        <appender-ref ref="execution"/>
    </logger>


</log4j:configuration>
